<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ant.core.antTasks">
     <antTask name="captureBuildMessages" class="il.co.fibi.snifit.etools.ant.extras.CaptureBuildMessages" library="." />
     <antTask name="disableIndexer" class="il.co.fibi.snifit.etools.ant.extras.DisableIndexer" library="." />
     <antTask name="getJavacErrorCount" class="il.co.fibi.snifit.etools.ant.extras.GetJavacErrorCount" library="." />
     <antTask name="getProjectData" class="il.co.fibi.snifit.etools.ant.extras.GetProjectData" library="." />
     <antTask name="productDebug" class="il.co.fibi.snifit.etools.ant.extras.ProductDebug" library="." />
     <antTask name="projectBuild" class="il.co.fibi.snifit.etools.ant.extras.ProjectBui;ld" library="." />
     <antTask name="projectGetErrors" class="il.co.fibi.snifit.etools.ant.extras.ProjectGetErrors" library="." />
     <antTask name="projectImport" class="il.co.fibi.snifit.etools.ant.extras.ProjectImport" library="." />
     <antTask name="projectSetBuild" class="il.co.fibi.snifit.etools.ant.extras.ProjectSetBuild" library="." />
     <antTask name="projectSetImport" class="il.co.fibi.snifit.etools.ant.extras.ProjectSetImport" library="." />
     <antTask name="setDebugInfo" class="il.co.fibi.snifit.etools.ant.extras.SetDebugInfo" library="." />
     <antTask name="targetRuntimeCreate" class="il.co.fibi.snifit.etools.ant.extras.TargetRuntimeCreate" library="." />
     <antTask name="workspaceBuild" class="il.co.fibi.snifit.etools.ant.extras.WorkspaceBuild" library="." />
     <antTask name="workspaceGetErrors" class="il.co.fibi.snifit.etools.ant.extras.WorkspaceGetErrors" library="." />
     <antTask name="workspacePreferenceExport" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceExport" library="." />
     <antTask name="workspacePreferenceFile" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceFile" library="." />
     <antTask name="workspacePreferenceGet" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceGet" library="." />
     <antTask name="workspacePreferenceSet" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceSet" library="." />
     <antTask name="xmlCatalogTask" class="il.co.fibi.snifit.etools.ant.extras.XMLCatalogTask" library="." />
   </extension>
</plugin>
