<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="RunAnt"
         name="%runnerName"
         point="org.eclipse.core.runtime.applications">
  	  <application>
           <run
             class="il.co.fibi.snifit.ant.runner.RunAnt" />
    </application>         
   </extension>
</plugin>
