<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="il.co.fibi.snifit.ant.tasks"
         name="%tasksName"
         point="org.eclipse.ant.core.antTasks">
     <antTask library="lib/antextras.jar" name="snifit.captureBuildMessages" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.CaptureBuildMessages" />
     <antTask library="lib/antextras.jar" name="snifit.disableIndexer" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.DisableIndexer" />
     <antTask library="lib/antextras.jar" name="snifit.getJavacErrorCount" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.GetJavacErrorCount" />
     <antTask library="lib/antextras.jar" name="snifit.getProjectData" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.GetProjectData" />
     <antTask library="lib/antextras.jar" name="snifit.productDebug" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.ProductDebug" />
     <antTask library="lib/antextras.jar" name="snifit.projectBuild" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.ProjectBuild" />
     <antTask library="lib/antextras.jar" name="snifit.projectGetErrors" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.ProjectGetErrors" />
     <antTask library="lib/antextras.jar" name="snifit.projectImport" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.ProjectImport" />
     <antTask library="lib/antextras.jar" name="snifit.projectSetBuild" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.ProjectSetBuild" />
     <antTask library="lib/antextras.jar" name="snifit.projectSetImport" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.ProjectSetImport" />
     <antTask library="lib/antextras.jar" name="snifit.setDebugInfo" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.SetDebugInfo" />
     <antTask library="lib/antextras.jar" name="snifit.targetRuntimeCreate" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.TargetRuntimeCreate" />
     <antTask library="lib/antextras.jar" name="snifit.workspaceBuild" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.WorkspaceBuild" />
     <antTask library="lib/antextras.jar" name="snifit.workspaceGetErrors" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.WorkspaceGetErrors" />
     <antTask library="lib/antextras.jar" name="snifit.workspacePreferenceExport" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceExport" />
     <antTask library="lib/antextras.jar" name="snifit.workspacePreferenceFile" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceFile" />
     <antTask library="lib/antextras.jar" name="snifit.workspacePreferenceGet" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceGet" />
     <antTask library="lib/antextras.jar" name="snifit.workspacePreferenceSet" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.WorkspacePreferenceSet" />
     <antTask library="lib/antextras.jar" name="snifit.xmlCatalogTask" 
     	headless="true" class="il.co.fibi.snifit.etools.ant.extras.XMLCatalogTask" />
   </extension>
   <extension
         id="il.co.fibi.snifit.ant.tasks.classoath"
         name="%classpathName"
         point="org.eclipse.ant.core.extraClasspathEntries">
   	  <extraClasspathEntry library="lib/antextras.jar"/>
   </extension>
</plugin>
