<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="antRunner"
         name="%runnerName"
         point="org.eclipse.core.runtime.applications">
  	  <application>
           <run
             class="il.co.fibi.snifit.ant.extras.runner.RunAnt" />
    </application>         
   </extension>
   <extension
         id="il.co.fibi.snifit.ant.tasks.classpath"
         name="%classpathName"
         point="org.eclipse.ant.core.extraClasspathEntries">
   	  <extraClasspathEntry library="lib/anttasks.jar"/>
   </extension>
</plugin>

